services:
  backend:
    build: .
    ports:
      - "5001:5001"
    environment:
      MONGODB_URI: "mongodb://mongo:27017/job-platform"
      PORT: 5001
      NODE_ENV: "development"
      SWAGGER_ENABLED: "true"
      # --- EMAIL & OAUTH CREDENTIALS ---
      EMAIL_USER: "your-email@gmail.com"
      EMAIL_PASS: "your-16-character-app-password"
      GOOGLE_CLIENT_ID: "your_id.apps.googleusercontent.com"
      GOOGLE_CLIENT_SECRET: "your_secret"
      GOOGLE_REDIRECT_URI: "http://localhost:5001/oauth2callback"
      GOOGLE_REFRESH_TOKEN: "your_refresh_token"
      # ---------------------------------
      MINIO_ENDPOINT: "minio"
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: "admin"
      MINIO_SECRET_KEY: "password123"
      JWT_SECRET: "your_secret_key_here_minimum_32_characters_long"
      JWT_EXPIRE: "7d"
    restart: on-failure
    depends_on:
      - mongo
      - minio

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  minio:
    image: quay.io/minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

volumes:
  minio-data:
  mongo-data: